.status-link {
  font-size: 20px;
}

.storyboard-img {
	width: 100%;
	max-width: 8000px;
}

.prosandcons ul{
	padding-left: 0.2em;
}

.prosandcons td{
	padding: 0px;
    width: 160px;
    font-size: 10px;
}